# Ignore node_modules in frontend and backend
projectfiles/frontend/node_modules/
projectfiles/backend/node_modules/

# Ignore .env files in both frontend and backend
projectfiles/backend/.env
projectfiles/frontend/.env
projectfiles/frontend/.env.local

# Ignore Vite build output
projectfiles/frontend/dist/

# Ignore log files
projectfiles/frontend/npm-debug.log*
projectfiles/frontend/yarn-debug.log*
projectfiles/frontend/yarn-error.log*
projectfiles/frontend/pnpm-debug.log*

# Ignore editor/project-specific files
projectfiles/frontend/.DS_Store
projectfiles/frontend/.vscode/
projectfiles/frontend/.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
