/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Navbar Container */
.navbar {
  background-color: #1C1F26;
  padding: 1vh 0;
  top: 0;
  left: 0;
  height: 10vh;
  position: fixed; /* Keep navbar fixed */
  width: 100%;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Flex Container for Navbar Content */
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 2vw;
  margin: 0 auto;
}
/* Logo Styling */
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10vw;
  
}

/* General styling for BidMaster text */
.bidmaster {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem; /* Adjusted font size */
  color: rgba(255, 255, 255, 1); /* White color */
 
  
}

/* Highlighting the "iD" part in yellow */
.id-highlight {
  color: rgba(252, 185, 0, 1); /* Yellow color */
}

/* Navigation Links Styling */
.nav-links {
  display: flex;
  list-style: none;
  gap:5vw; /* Space between navigation links */
  padding: 0;
  margin: 0;
  position: relative; /* Make sure the transform applies correctly */
  left: 0; /* Reset any default position */
  transform: translateX(35vw); 
}

nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem; /* Reduced font size for smaller navigation links */
  font-weight: 800; /* Regular font weight for links */
  color: rgba(255, 255, 255, 1); /* White color */
  position: relative;
  transition: color 0.3s ease;
}

/* Hover Effect: White line appears above the word */
nav ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -0.1rem; /* Reduced vertical offset for the line */
  width: 0;
  height: 0.08rem; /* Reduced height for the line */
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

/* On hover, expand the line */
nav ul li a:hover::before {
  width: 40%;
  left: 30%;
}

/* Active Link Styling */
.active {
  color: rgba(252, 185, 0, 1); /* Yellow for active links */
}

.nav-links a.active::after {
  width: 100%;
}

/* Targeting the "Add Products" link (3rd item) */
.nav-links li:nth-child(3) {
  margin-right: 5vw; /* Increased space between "Add Products" and "Sign In" */
}
