.timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Monstrat", sans-serif; /* Clean font */
  }
  
  
  .timer-p {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;

    border: 0.1rem solid #3498db;
    border-radius: 1rem;
    background-color: #ecf0f1;
    box-shadow: 0 1vh 1.5vh rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 12vw;
    margin: 0 auto;
  }
  
  