@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body, html {
  margin: 0;
  padding: 0;
 font-family: 'Montserrat', sans-serif;
}


* {
  font-family: 'Montserrat', sans-serif !important;
}

/* General container */


.view-products {
   
  display: flex;
  
  flex-wrap: nowrap;
  height: 100vh; 
  z-index: 1;
  margin-bottom: -10rem;


  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}



  .bid-button {
    background-color: #f0b429;
    color: white;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
  }
  
  .filter-box {
    margin-top: 10rem;
    width: 20%;
    height: 70vh;
    padding: 1.25rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    margin-right: 1.25rem;
    position: sticky;
    top: 0;
    overflow-y: auto; 
  }
  
.filter-box h4 {
  
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; 
}

.filter-box input[type="text"], 
.filter-box select {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd; 
  border-radius: 0.25rem;
  font-size: 1rem;
}

.filter-box input[type="range"] {
  width: 100%;
  margin-top: 0.625rem;
}

.filter-box p {
  margin: 0.625rem 0;
  font-size: 1rem;
  color: #555; 
}

.filter-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.filter-box input[type="checkbox"] {
  margin-right: 0.5rem;
}

.reset-button {
  margin-top: 1rem;
  padding: 0.625rem;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}

.reset-button:hover {
  background-color: #c9302c;
}


.range-slider {
  position: relative;
  width: 100%;
  height: 0.625rem; 
  background-color: #ddd;
  border-radius: 0.3125rem; 
  margin: 1.25rem 0; 
}

.range-slider .track {
  position: absolute;
  width: 100%;
  height: 0.625rem;
  background-color: #ddd;
  border-radius: 0.3125rem; 
}

.range-slider .highlight {
  position: absolute;
  height: 0.625rem; 
  background-color: #f0b429;
  border-radius: 0.3125rem; 
  z-index: 1;
  top: 0;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  height: 0.625rem; 
  top: 0;
  margin: 0;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none; 
  z-index: 2;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.875rem; 
  height: 0.875rem; 
  background: #504444;
  border-radius: 50%;
  pointer-events: all; 
  position: relative;
  top: -0.03rem; 
  cursor: pointer;
  z-index: 3;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 0.875rem; 
  height: 0.875rem; 
  background: #007bff;
  border-radius: 50%;
  pointer-events: all;
  position: relative;
  top: -0.125rem; 
  cursor: pointer;
  z-index: 3;
}

.range-slider input[type="range"]::-ms-thumb {
  width: 0.875rem; 
  height: 0.875rem; 
  background: #007bff;
  border-radius: 50%;
  pointer-events: all;
  position: relative;
  top: -0.125rem; 
  cursor: pointer;
  z-index: 3;
}

/* Alignment to the search bar */
.filter-box input[type="text"], 
.range-slider {
  display: block;
  margin: 0 auto;
  width: calc(100% - 2rem); 
}




.product-grid {
  width: 80%;
  display: grid;
 
  gap: 1.25rem; 
  padding: 1.25rem;
  margin-top: 2.5rem;
  
  
  grid-template-columns: repeat(4, 1fr);
  
 
  max-height: 100vh; 
  overflow-y: auto;
}

/* Hide the scrollbar */
.product-grid::-webkit-scrollbar {
  width: 0px; 
  height: 0px; 
}

.product-grid::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.product-grid::-webkit-scrollbar-track {
  background: transparent; 
}


  
  
 
  
  .product-card h3 {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    text-align: center;
  }
  
  .product-card p {
    
    font-size: 0.875rem; 
  text-align: center;
  padding-top: 2%;
  }
  
.product-card {
 background: #fff;
 box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 31.5rem; 
  max-width: 100%;
  overflow: hidden; 
}

.product-card:hover {
  transform: translateY(0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}


.product-card img {
  max-width: 100%;
 
  height: 12rem;
  object-fit: cover;
 
  
}




.bid-button {
  background-color: #f0b429;
  color: white;
  border: none;
  padding: 0.625rem; 
  cursor: pointer;
 
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  background-color: white;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  min-width: 600px;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  display: flex; 
  width: 100%;
}

.modal-image-container {
  flex: 1.5;
  margin-right: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  border-radius: 0.5rem;
}

.modal-info {
  flex: 2; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.increment-buttons {
  display: flex;
  margin-bottom: 10px;
}

.increment-buttons button {
  margin-right: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.increment-buttons button:hover {
  background-color: #45a049;
}

.bid-amount-display p {
  font-size: 18px;
  margin-top: 10px;
}

.close-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.close-btn:hover {
  background-color: #da190b;
}


.increment-buttons button {
  margin: 0.3125rem;
  padding: 0.625rem;
  background-color: #f0b429;
  border: none;
  color: white;
  cursor: pointer;
}

.countdown {
  font-weight: bold;
  margin-top: 0.625rem; 
}

.bid-amount-display p {
  margin-top: 0.625rem; 
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
  text-align: center;
}


.countdown {
  font-weight: bold;
  margin-top: 0.625rem;
}

.product-card img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}


.increment-buttons button {
  margin: 0.3125rem;
  padding: 0.625rem;
  background-color: #f0b429;
  border: none;
  color: white;
  cursor: pointer;
}

.countdown {
  font-weight: bold;
  margin-top: 0.625rem; 
}

.bid-amount-display p {
  margin-top: 0.625rem; 
  font-size: 1rem;
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}



.bid-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}




.bid-modal-content, .success-message {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.bid-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}


.bid-modal h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}


.bid-modal .confirmation-message {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 2rem;
}

.bid-modal .success-message p {
  font-size: 1.125rem;
  color: #28a745; 
  font-weight: bold;
  margin-bottom: 2rem;
}

.bid-modal .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.bid-modal .button-container button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bid-modal .button-container .confirm-button {
  background-color: #f0b429;
  color: white;
}

.bid-modal .button-container .confirm-button:hover {
  background-color: #e09e27;
}

.bid-modal .button-container .cancel-button {
  background-color: #d9534f;
  color: white;
}

.bid-modal .button-container .cancel-button:hover {
  background-color: #c9302c;
}


.bid-modal-content, .success-message {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
